body{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.square{
    width: 24px;
    height: 24px;
    background-color: #1d1d1d;
    margin: 2px;
    transition: 2s ease;
}

.container{
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}

.square:hover{
    transition-duration: 0s;
}
